@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
	@apply transition-colors ease-linear;
}
.form-input {
	@apply bg-theme   text-revert-theme placeholder-revert-theme/70 shadow focus:ring-2 valid:focus:ring-sky-600 invalid:focus:border-transparent invalid:focus:ring-red-400;
}
.form-error {
	@apply absolute bottom-0 left-0 p-1 text-xs font-bold text-red-400;
}

html,
body,
#root {
	height: 100vh;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
	display: none;
}
.crystal {
	background: linear-gradient(
			45deg,
			rgba(var(--primary), 0.5) 10%,
			rgba(var(--primary), 0.1) 10%
		),
		linear-gradient(
			65deg,
			rgba(var(--primary), 0.1) 70%,
			rgba(var(--primary), 0.5) 70%
		),
		linear-gradient(
			15deg,
			rgba(var(--primary), 0.5) 80%,
			rgba(var(--primary), 0.1) 80%
		),
		linear-gradient(
			25deg,
			rgba(var(--primary), 0.5) 30%,
			rgba(var(--primary), 0.1) 30%
		);
}
